<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="CompanyCarManager">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/webapp/WEB-INF/jsp"/>
        <wb-resource deploy-path="/" source-path="/src/main/resources/static"/>
        <property name="context-root" value="CompanyCarManager"/>
        <property name="java-output-path" value="/CompanyCarManager/target/classes"/>
    </wb-module>
</project-modules>
