<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Company Car Manager</title>
<link rel="icon" href="/img/car.ico" />

<!-- Bootstrap core CSS -->
<link type="text/css" href="/css/bootstrap.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
<link type="text/css" href="/css/map.css" rel="stylesheet" />
</head>

<body>
	<div th:fragment="header">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Company Car Manager</a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav navbar-right">
						<li th:unless="${#httpServletRequest.remoteUser != null}"><a
							th:href="@{/login}">Sign in</a></li>
						<li th:if="${#httpServletRequest.remoteUser != null}"><a
							th:href="@{'/admin/users/details/' + ${#httpServletRequest.remoteUser}}"
							th:text="${'Welcome ' + #httpServletRequest.remoteUser}">Welcome
								user!</a></li>
						<li th:if="${#httpServletRequest.remoteUser != null}"><a
							href="#" onClick="submitLogoutForm();">Logout</a>
							<form th:action="@{/logout}" name="logoutForm" method="post">
								<input type="hidden" value="Logout" />
							</form> <script>
								function submitLogoutForm() {
									document.forms["logoutForm"].submit();
								}
							</script></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div>
		<div class="container-fluid">
			<div class="row">
				<div th:fragment="sidebar">
					<div class="col-sm-3 col-md-2 sidebar">
						<div th:if="${message != null}" class="alert">
							<span th:text="${message}"></span>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							 
						</div>
						<h3>General</h3>
						<ul class="nav nav-sidebar">
							<li id="home_li"><a th:href="@{/index}">Home</a></li>
						</ul>
						<h3>Users</h3>
						<ul class="nav nav-sidebar">
							<li id="user_list_li"><a th:href="@{/admin/users/list}">User
									list</a></li>
							<li id="user_add_li"><a th:href="@{/admin/users/add}">Add
									a new user</a></li>
						</ul>
						<h3>Cars</h3>
						<ul class="nav nav-sidebar">
							<li id="show_current_positions_li"><a
								th:href="@{/admin/cars/show_current_positions}">Current
									positions</a></li>
							<li id="car_list_li"><a th:href="@{/admin/cars/list}">Car
									list</a></li>
							<li id="car_add_li"><a th:href="@{/admin/cars/add}">Add
									a new car</a></li>
							<li id="model_add_li"><a th:href="@{/admin/cars/add_model}">Add
									a new model</a></li>
							<li id="manufacturer_add_li"><a
								th:href="@{/admin/cars/add_manufacturer}">Add a new
									manufacturer</a></li>
						</ul>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div th:fragment="scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>


		<!-- <svg
			style="visibility: hidden; position: absolute; top: -100%; left: -100%;"
			preserveAspectRatio="none" viewBox="0 0 200 200" height="200"
			width="200">
		<defs></defs>
		<text
				style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle"
				y="10" x="0">200x200</text></svg> -->
	</div>
</body>
</html>