.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 60px;
	border: 2px solid black;
	white-space: nowrap;
}

#map-canvas {
	width: 100%;
	height: 75vh;
	display: block;
}