<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header"
					th:text="'Details of car (' + ${car.registrationNumber} + '):'"></h1>
				<div th:if="${currentPosition != null}">
					Current position: <a
						th:href="@{'/admin/positions/show/' + ${currentPosition.id}}"
						th:text="${currentPosition.toString()}">pos</a>
				</div>
				<div>
					<p th:text="${'Manufacturer: ' + car.model.manufacturer.name}"></p>
					<p th:text="${'Model: ' + car.model.name}"></p>
				</div>
				<h3>Positions:</h3>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Position</th>
								<th>User</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="position : ${positions}">
								<td><a
									th:href="@{'/admin/positions/show/' + ${position.id}}"
									th:text="${position.toString()}">pos</a></td>
								<td><a
									th:href="@{'/admin/users/details/' + ${position.user.name}}"
									th:text="${position.user.name}"> user name </a></td>
								<td th:text="${position.date.toString()}">time</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3>Refuelings:</h3>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Position</th>
								<th>User</th>
								<th>Time</th>
								<th>Amount</th>
								<th>Cost per liter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="refueling : ${refuelings}">
								<td><a
									th:href="@{'/admin/positions/show/' + ${refueling.position.id}}"
									th:text="${refueling.position.toString()}">pos</a></td>
								<td><a
									th:href="@{'/admin/users/details/' + ${refueling.position.user.name}}"
									th:text="${refueling.position.user.name}"> user name </a></td>
								<td th:text="${refueling.position.date.toString()}">time</td>

								<td th:text="${refueling.amountToString()}">amount</td>

								<td th:text="${refueling.costPerLitreToString()}">cost per
									liter</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h3>Users:</h3>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${car.users}">
								<td><a th:href="@{'/admin/users/details/' + ${user.name}}"
									th:text="${user.name}"> user name </a></td>
								<td th:text="${user.email}"></td>
								<td><form action="#"
										th:action="@{'/admin/cars/remove_assignment/' + ${car.id} + '/from_user/' + ${user.name}}"
										method="post">
										<input type="submit" value="Remove assignment" />
									</form></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#car_list_li").attr('class', 'active');
	</script>
</body>
</html>