<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div th:unless="${users.isEmpty()}">
					<h3
						th:text="'Assign car (' + ${car.model.manufacturer.name} + ' ' + ${car.model.name} + ') to user'">
						</h3>
						<form action="#"
							th:action="@{'/admin/cars/assign_by_id/' + ${car.id}}"
							method="post">
							<div>
								<select th:field="*{userDto.userName}">
									<option th:each="user : ${users}" th:value="*{user.name}"
										th:text="*{user.name}">User</option>
								</select>
							</div>
							<div>
								<input type="submit" value="Assign car" />
							</div>
						</form>
				</div>
				<div th:if="${users.isEmpty()}">
					All users already have already been assigned to this car <br /> <a
						th:href="@{'/admin/cars/details/' + ${car.id}}"
						th:text="${car.toString()}"> Details </a>

				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#car_list_li").attr('class', 'active');
	</script>
</body>
</html>