<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Car list</h1>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Registration number</th>
								<th>Manufacturer</th>
								<th>Model</th>
								<th>Other</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="car : ${carList}">
								<td><a th:href="@{'/admin/cars/details/' + ${car.id}}"
									th:text="${car.registrationNumber}"> Details </a></td>
								<td th:text="${car.model.manufacturer.name}">manufacturer</td>
								<td th:text="${car.model.name}">model</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button"
											id="dropdownMenu1" data-toggle="dropdown"
											aria-expanded="true">
											Actions <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="dropdownMenu1">
											<li role="presentation"><a role="menuitem" tabindex="-1"
												th:href="@{'/admin/cars/edit/' + ${car.id}}"> Edit </a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1"
												th:href="@{'/admin/cars/assign_by_id/' + ${car.id}}">
													Assign car </a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#car_list_li").attr('class', 'active');
	</script>
</body>
</html>