<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h2>Add a new car:</h2>
				<div id="TEXT-LEFT">
					<form action="#" th:action="@{/admin/cars/add}" method="post">
						<div>
							<label> Registration number : <input type="text"
								name="registrationNumber"
								th:field="*{carDto.registrationNumber}" />
							</label>
						</div>
						<div>
							<select th:field="*{carDto.modelId}">
								<option th:each="model : ${carModels}" th:value="${model.id}"
									th:text="${model.manufacturer.name} + ' ' + ${model.name}">Car
									models</option>
							</select>
						</div>
						<div>
							<label>Available</label> <input type="checkbox"
								th:field="*{carDto.available}" />
						</div>
						<div>
							<input type="submit" value="Add new car" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#car_add_li").attr('class', 'active');
	</script>
</body>
</html>