<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Add a new car model</h1>
				<div id="TEXT-LEFT">
					<form action="#" th:action="@{/admin/cars/add_model}" method="post">
						<div>
							<label> Model name : <input type="text" name="modelName"
								th:field="*{modelDto.name}" />
							</label>
						</div>
						<div>
							<label>Manufacturer </label><select
								th:field="*{modelDto.manufacturerId}">
								<option th:each="manufacturer : ${carManufacturers}"
									th:value="${manufacturer.id}" th:text="${manufacturer.name}">Car
									models</option>
							</select>
						</div>
						<div>
							<input type="submit" value="Add new car model" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#model_add_li").attr('class', 'active');
	</script>
</body>
</html>