<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="/js/markerwithlabel.js"></script>
	<script th:inline="javascript">
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng([[${position.latitude}]], [[${position.longitude}]]),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        var map = new google.maps.Map(mapCanvas, mapOptions)
        
        var carMarker = new MarkerWithLabel({        	
        	draggable: false,
        	labelContent: [[${position.car.registrationNumber}]],
        	labelAnchor: new google.maps.Point(22, 0),
        	labelClass: "labels", // the CSS class for the label
        	labelStyle: {opacity: 0.75},
            position: new google.maps.LatLng([[${position.latitude}]], [[${position.longitude}]]),
            map: map,
            title: [[${position.car.toString()}]],
        	url: [[@{'/admin/cars/details/' + ${position.car.id}}]]
        });
        google.maps.event.addListener(carMarker, 'click', function() {
        	window.open(this.url, 'Car details window', 'window settings')
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header"
					th:text="'Position(' + ${position.toString()} + ') of car:  ' + ${position.car.registrationNumber}"></h1>
				User: <a
					th:href="@{'/admin/users/details/' + ${position.user.name}}"
					th:text="${position.user.name}"> user name </a>

				<p th:text="${'Date: ' + position.date.toString()}"></p>
				<div id="map-canvas"></div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#show_current_positions_li").attr('class', 'active');
	</script>
</body>
</html>