<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Edit user</h1>
				<div id="TEXT-LEFT">
					<form action="#" th:action="@{/admin/users/edit}" method="post">
						<div>
							<label> User name : <input type="text" readonly="True"
								name="userName" th:field="*{userDto.userName}" />
							</label>
						</div>
						<div>
							<label> Password: <input type="password" name="password"
								th:field="*{userDto.password}" />
							</label>
						</div>
						<div>
							<label> E-mail: <input type="email" name="email"
								th:value="*{userDto.email}" />
							</label>
						</div>
						<div>
							<label> Enabled </label> <input type="checkbox"
								th:field="*{userDto.enabled}" />
						</div>
						<div>
							<label> Current car: </label> <select
								th:field="*{userDto.currentCarId}">
								<option th:value="${null}" th:text="None">None</option>
								<option th:each="car : ${cars}" th:value="${car.id}"
									th:text="${car.model.manufacturer.name} + ' ' + ${car.model.name} + ' ' + ${car.registrationNumber}">Car
									models</option>
							</select>
						</div>
						<div>
							<input type="submit" value="Save changes" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#user_list_li").attr('class', 'active');
	</script>
</body>
</html>