<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header"
					th:text="'Details of user (' + ${user.name} + ')'"></h1>
				<div th:if="${user.currentCar != null}">
					Current car: <a
						th:href="@{'/admin/cars/details/' + ${user.currentCar.id}}"
						th:text="${user.currentCar.toString()}"> Details </a>
				</div>
				<div th:unless="${user.currentCar != null}">
					Current car: none
				</div>
				<div th:text="${'Email: ' + user.email}"></div>
				<h2 class="sub-header">Positions</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Position</th>
								<th>Car</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="position : ${positions}">
								<td><a
									th:href="@{'/admin/positions/show/' + ${position.id}}"
									th:text="${position.toString()}">pos</a></td>
								<td><a
									th:href="@{'/admin/cars/details/' + ${position.car.id}}"
									th:text="${position.car.toString()}"> car </a></td>
								<td th:text="${position.date.toString()}">time</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h2 class="sub-header">Refuelings</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Position</th>
								<th>Car</th>
								<th>Time</th>
								<th>Amount</th>
								<th>Cost per liter</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="refueling : ${refuelings}">
								<td><a
									th:href="@{'/admin/positions/show/' + ${refueling.position.id}}"
									th:text="${refueling.position.toString()}">pos</a></td>
								<td><a
									th:href="@{'/admin/cars/details/' + ${refueling.position.car.id}}"
									th:text="${refueling.position.car.toString()}"> car </a></td>
								<td th:text="${refueling.position.date.toString()}">time</td>

								<td th:text="${refueling.amountToString()}">amount</td>

								<td th:text="${refueling.costPerLitreToString()}">cost per
									liter</td>
							</tr>

						</tbody>
					</table>
				</div>
				<h2 class="sub-header">Available cars:</h2>
				<div th:include="user_assigned_cars :: assigned_cars"></div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#user_list_li").attr('class', 'active');
	</script>
</body>
</html>