<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/base_bootstrap :: head"></head>
<body>
	<div th:include="fragments/base_bootstrap :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div th:include="fragments/base_bootstrap :: sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header"
					th:text="'Cars assigned(available) to ' + ${userName} + ''"></h1>
				<div th:fragment="assigned_cars">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Registration number</th>
									<th>Manufacturer</th>
									<th>Model</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="car : ${cars}">
									<td><a th:href="@{'/admin/cars/details/' + ${car.id}}"
										th:text="${car.registrationNumber}"> Details </a></td>
									<td th:text="${car.model.manufacturer.name}">manufacturer</td>
									<td th:text="${car.model.name}">model</td>
									<td>
										<form action="#"
											th:action="@{'/admin/cars/remove_assignment/' + ${car.id} + '/from_user/' + ${userName}}"
											method="post">
											<input type="submit" value="Remove assignment" />
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/base_bootstrap :: scripts"></div>
	<script>
		$("#user_list_li").attr('class', 'active');
	</script>
</body>
</html>